<%= stylesheet_link_tag "/main.css" %>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Shit Trump has ACTUALLY Said</title>

  </style>

<div class = "header"> Trump Actually Said: </p>


<div class = "phrase">

	<%= Show.new.phrase_pick %>
</p>


</body>
</html>

</head>